#background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top:0%;
    background: linear-gradient(90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    animation: backAnimation 12s linear infinite;
}

@keyframes backAnimation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}